   body {
        background-color: ivory;
    }
    canvas {
        border:1px solid red;
    }


.map{
        background-image: url('mapa.jpg');
    background-repeat: no-repeat;
    background-size: 1302px 872px;
    background-position: -120px 17px;
}

